

.content-container {
    position: relative;
    width: 100%;
    height: 302px;
}



.approve-container {
    width: 100%;
    height: 110px;
    border-top: 5px solid #398AB9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
